.admin-action-icons {
  color: black;
  font-size: 1.5rem;
}

.admin-action-icons:hover {
  color: gray;
}

button.admin-action-icons {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
