@media (max-width: 992px) {
  .navbar-logo {
    position: relative;
    top: 0;
    left: 0;
  }

  .logo-black {
    display: block;
  }

  .logo-white {
    display: none;
  }

  .nav-item > .nav-link,
  .menu-divider {
    color: #000000;
  }

  .menu-divider {
    display: none;
  }
  .fixed-top {
    background-color: #dee2e6;
    padding-top: 8px;
    box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.75);
  }
  .fixed-top.scrolled {
    padding: 8px 16px;
  }
  .navbar-nav {
    text-align: center;
  }

  .underline {
    width: 10%;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 20px;
  }

  .main__headings {
    font-size: 55px;
  }

  // .yvettaphoto-logo {
  //   max-width: 60%;
  // }

  .about-me__quote {
    font-size: 20px;
  }

  .about-me__nav-links {
    text-align: center;
  }

  .about-me__nav-link {
    padding: 25px 16px !important;
  }
}

@media (max-width: 575px) {
  .description__p,
  .about-me__p {
    font-size: 18px;
  }

  .admin__headings {
    font-size: 1.5rem;
  }

  .ekko-lightbox-nav-overlay a {
    font-size: 3em !important;
  }

  .admin-buttons {
    display: flex;
    flex-direction: column;

    a {
      margin-top: 1rem;
    }
  }
  .grid-item {
    width: 350px;
  }
  #button {
    right: 0 !important;
  }
}

@media (max-width: 425px) {
  .main__headings {
    font-size: 35px;
  }

  #button {
    margin: 20px !important;
  }

  .description__p,
  .about-me__p {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .grid-item {
    width: 325px;
  }

  .description__p,
  .about-me__p {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .grid-item {
    width: 275px;
  }
}
