@media (min-width: 576px) {
    .gallery-block.grid-gallery .scale-on-hover:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

@media (max-width: 767px) {
    .nav-link {
        font-size: 19px;
    }

    .fixed-top {
        background-color: #eee !important;
        opacity: 0.995;
    }

    .about-me__quote {
        font-size: 20px;
    }

    .about-me__nav-links {
        text-align: center;
    }

    .about-me__nav-link {
        padding: 25px 16px !important;
    }

    #button {
        margin: 15px;
        bottom: 15px;
        right: 0;
    }

    .gallery-photo {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .about-me__container {
        margin: 20px;
    }

    .admin__headings {
        font-size: 1.5rem;
    }

    .admin-buttons {
        display: flex;
        flex-direction: column;

        a {
            margin-top: 1rem;
        }
    }
}

@media (max-width: 360px) {
    .main__headings {
        font-size: 45px;
    }
}
