#portfolio {
    padding-top: 100px !important;
}

.gallery-photo {
    padding: 0.05rem !important;
    position: relative;
}

.gallery-photo img {
    transition: all 0.4s;
}

.gallery-photo img:hover,
.gallery-photo img:active {
    opacity: 0.5;
}

.gallery-photo:hover,
.gallery-photo:active {
    cursor: pointer;
}

.gallery-photo-title {
    position: absolute;
    background-color: #34495e;
    top: 65%;
    left: 1%;
    right: 0;
    max-width: 80%;
    z-index: 1;
}

.gallery-list-title:hover,
.gallery-list-title:active {
    display: inline-block;
}

.gallery-list-item {
    color: #777;
    cursor: pointer;
    user-select: none;
}

.active-item {
    color: #34495e;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.gallery__collection {
    text-align: center;
    margin: 10px;
}

.gallery__collection img {
    padding-top: 10px;
}

.modal-body {
    padding: 0;
}
