#photos {
    padding-top: 100px !important;
}

.description__p {
    letter-spacing: 1px;
    margin-bottom: 0.5rem;

    p {
        margin-bottom: 0.5rem;
    }
}

.modal-content {
    border: none;
    border-radius: 0;
}
