section#contactMe p.lead {
    text-align: justify;
}

.form-control {
    border: transparent;
    border-radius: 0;
    border-bottom: 3px solid #34495e;
    transition: all .4s;
}

.form-control:focus {
    background: transparent;
    border: 3px solid #34495e;
    box-shadow: none;
    color: #000;
}

.btn-submit {
    border-radius: .25rem;
    background-color: #616569;
    color: #fff;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #1d2124;
}
