.gallery-block.grid-gallery {
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block.grid-gallery .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a {
    opacity: 1;
    transition: all .7s;
}

.gallery-block.grid-gallery a:hover {
    opacity: 0.8;
}

.gallery-block.grid-gallery .item {
    margin-bottom: 20px;
}

.portfolio-heading {
    position: absolute;
    top: 70%;
    right: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background: #222;
    width: 70%;
    cursor: pointer;
    opacity: .7;
    transition: all .5s;
}

.portfolio-heading:hover {
    opacity: 1;
}

.card-shadow {
    box-shadow: 5px 8px 20px #444;
    transition: all .4s;
}

.card-shadow:hover {
    transform: translateY(-5px);
}
